<div class="row text-center header">
  <h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
</div>

<hr>

<div class="container">
  <%= @contact.job_title %>&#44; <%= @contact.company %><br>
  <% @contact.phones().each() do |phone| %>
    <%= phone.number() %>
    <% end %><br>

  <% @contact.emails.each() do |email| %>
  <%= email.email_address %>
  <% end %><br>

  <% @contact.addresses.each() do |address| %>
  <%= address.street %>
  <%= address.city %>
  <%= address.state %>
  <%= address.zip %>
  <% end %><br>

<div class="text-center">
  <a class="btn btn-primary" href="/contacts/<%= @contact.id() %>/addresses/new/">Add Address</a>
  <a class="btn btn-primary" href="/contacts/<%= @contact.id() %>/phones/new/">Add Phone</a>
  <a class="btn btn-primary" href="/contacts/<%= @contact.id() %>/emails/new/">Add Email</a>
</div>
</div>
