<div class="row text-center header">
  <h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
</div>

<hr>

<div class="container">
  <label>Company:</label>
  <%= @contact.job_title %>&#44; <em><%= @contact.company %></em><br>
  <% @contact.phones().each() do |phone| %>
  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> <strong><%= phone.number %></strong><br>
  <% end %><br>

  <% if @contact.emails.any? %>
    <label>Email(s):</label><br>
    <% @contact.emails.each_with_index() do |email, index| %>
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <strong><%= email.email_address %></strong><br>
    <% end %>
  <% end %>

  <% if @contact.addresses.any? %>
  <label>Address(es):</label>
  <% @contact.addresses.each() do |address| %>
    <address>
      <%= address.street %><br>
      <%= address.city %>,
      <%= address.state %>
      <%= address.zip %><br>
    </address>
  <% end %><br>
  <% end %>

  <div class="text-center">
    <a class="btn btn-primary" href="/contacts/<%= @contact.id() %>/addresses/new/">Add Address</a>
    <a class="btn btn-primary" href="/contacts/<%= @contact.id() %>/phones/new/">Add Phone</a>
    <a class="btn btn-primary" href="/contacts/<%= @contact.id() %>/emails/new/">Add Email</a>
  </div>
</div>
